/* Country quiz app */
@import "../common.scss";

#wrapper {
  width: 1440px;
  height: 1090px;
  background-image :url('../assets/background.png');
  background-size: contain;
}


#app-label {
  position: absolute;
  width: 271px;
  height: 54px;
  left: 488px;
  top: 189px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */

  text-transform: uppercase;

  color: #F2F2F2;
}

